!<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css" />

    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <style>
            h6 {
                margin-left: 7.5%;
            }
        </style>
        <div class="container">
        <h1><%= allBudget.name %></h1>
        <button><a href="/budget">back</a></button>
        <h5>date:</h5>
        <h6><%=allBudget.date%></h6>
        <h5>name:</h5>
        <h6><%=allBudget.name%></h6>
        <h5>from:</h5>
        <h6><%=allBudget.from%></h6>
        <h5>amount:</h5>
        <h6><%=allBudget.amount%></h6>
        <h5>tags:</h5>
        <h6><%=allBudget.tags%></h6>
    </div>
    </body>
</html>